{% extends 'base.html.twig' %}

{% block title %}Forum{% endblock %}

{% block body %}
    <h3>Mes publications</h3>

    <table class="table table-striped">
        <thead>
            <tr>
                <th style="text-align: center;">Titre</th>
				<th style="text-align: center;">Auteur</th>
				<th style="text-align: center;">Date de publication</th>
                <th style="text-align: center;">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
            <tr>
                <td style="text-align: center;">{{ thread.thread }}</td>
				<td style="text-align: center;">{{ thread.username }}</td>
				<td style="text-align: center;">{{ thread.publication }}</td>
                <td style="text-align: center;">
                    <a href="{{ path('thread_show', {'id': thread.id}) }}">Consulter</a>
					<span>&emsp;</span>
					<a href="{{ path('thread_delete', {'id': thread.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">aucune publication disponible</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	
{% endblock %}
